<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727561744031-am753183hsh18qhqim3jg9baecptptcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727561744031-am753183hsh18qhqim3jg9baecptptcn</string>
	<key>API_KEY</key>
	<string>AIzaSyCrDXWHLa-tfMs81afr8zMcbXdHtASsPhA</string>
	<key>GCM_SENDER_ID</key>
	<string>727561744031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bastrikov</string>
	<key>PROJECT_ID</key>
	<string>brainey-c0f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>brainey-c0f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727561744031:ios:834eb3230e9f23b3cafcaa</string>
</dict>
</plist>